*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html, body{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex: 1;
}

html{
  scroll-behavior: smooth;
}

body{
  background-image: url(../img/bac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

body ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
  font-size: 1em;
}

a:link,a:visited,a:active{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover{
  color: rgb(255, 255, 255);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

button:hover{
  background: rgb(186, 162, 130);
  transform: scale(1.1);
  color: white;
}

header, footer{
  padding: 0;
  margin: 0;
}
header select{
  background-color: rgb(214, 167, 119);
  border: none;
  color: white;
}

footer select{
  background-color: rgb(214, 167, 119);
  border: none;
  color: white;
}


button{
  font-size: 1.2rem;
}

main{
  padding: 0;
  margin: 0 10%;
  background: transparent;
  font-size: 1.3rem;
}

header{
  background:  rgb(214, 167, 119);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-size: 1.2rem;
  height: 40px;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100px;
}

.logo img{
  height:80px;
  margin: 0 2rem 0 0;
  padding: 0;
}


#bars{
  display: none;
}

#bars:hover{
  background: rgb(172, 131, 90);
  color: white;
}

.nav{
  display: none;
}

.nav.active{
  display: flex;
}




footer{
  background:  rgb(214, 167, 119);
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  align-content: center;
}

footer h3{
  margin: 0.5em 0;
  color: black;
}

.footer{
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;

}

.footer ul{
  list-style-type: none;
  display: grid;
  gap: 0.3rem;
}

.footer div{
  margin: 1% 10%;
}

.links ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
